.App {
  text-align: center;
}

.min-options{
  min-height: 100vh;
  min-width: 100vw;
}
.App-logo {
  height: 55vmin;
  margin-top: -2.5%;
  margin-bottom: -5%;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /*background: linear-gradient(190deg, rgba(53, 59, 180, 0.8) 20%, rgb(178, 118, 175), rgb(243, 192, 143));*/
  /*background: linear-gradient( 45deg, Violet, Orange);*/
  background-image : url(/Users/kimkwon-woong/IdeaProjects/test0718/src/photo/test4.jpeg);
  text-align: center;
  min-height: 100vh;
  max-height: 120vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.App-Box {
  padding-top: 250px;
}

.App-LoginBar{
  width: calc(150px + 25vmin);
  min-height: 22vh;
  display: flex;
  border-radius: calc(3px + 1vmin);
  color: black;
  border: 1px solid lightgray;
  outline: rgb(255, 255, 255);
  background-color: rgb(255, 255, 255);
  margin-top:80px;
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -15%;
  min-height: 100vh;
}

.content {
  font-family: system-ui, serif;
  font-size: 2rem;
  padding: 3rem;
  border-radius: 1rem;
}